@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#fed7aa ;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color:#334155;
    width: max(600px, 100vw);
    height: 150px;
    box-shadow: 0 0 5px black;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 50px;
}

.logo-container svg {
    width: 50px;
    fill: white;
}

p.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    letter-spacing: -2px;
}

button {
    display: block;
    appearance: none;
    width: 150px;
    height: 50px;
    background-color:#b91c1c ;
    color: white;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 40px auto;

}

.card button {
    appearance: none;
    width: 80px;
    height: 30px;
    background-color:#b91c1c ;
    color: white;
    font-size: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 0;
}

.card-container {
    width: clamp(600px, 70%, 900px);
    height: 700px;
    margin: 0 auto;
    background-color:#ffedd5 ;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    padding: 25px;
    overflow: auto;
}

.card {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border-left: 2px solid grey;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
    padding: 15px;
    align-items: center;
    justify-items: center;
}

.card button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #991b1b;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

button:active {
    background-color: #5f1313;
}

div.labels {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 15px;
}

input[type='checkbox'] {
    appearance: none;
    border: 2px #991b1b solid;
    height: 26px;
    width: 50px;
    border-radius:13px ;
    background-color: white;
    position: relative;
    justify-self: center;
    align-self: end;
}

input[type='checkbox']::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #991b1b;
    position: absolute;
    top: 1px;
    left: 2px;
}

input[type='checkbox']::after {
    content: 'Mark as read';
    position: absolute;
    width: max-content;
    left: -15px;
    top: -18px;
}

input[type='checkbox']:checked::before {
    left: auto;
    right: 2px;
}

input[type='checkbox']:checked {
    background-color:#ecfccb ;
}

.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

form {
    display: block;
    position: relative;
    width: clamp(500px, 50%, 700px);
    height: clamp(500px, 60%, 600px);
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
}

.show {
    display: block;
}

.main-container.active {
    filter: blur(5px);
}

form > p {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

form > div {
    padding: 20px;
    display: flex;
    position: relative;
}

form label,
form > div p {
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-size: 1rem;
}

form input[type='text'],
form input[type='number'] {
    padding: 0.2rem;
    width: 50%;
    border: solid grey 1px;
    border-radius: 10px;
}

form div span::before {
    content: 'This field is required';
    position: absolute;
    top: 45px;
    left: 180px;
    color: #991b1b;
    font-size: 0.8rem;
}





